@use "@material/list";

@include list.core-styles;


/* //card */
@use "@material/card";

@include card.core-styles;
.my-card-content {
    padding: 16px;
  }
.mdc-card {
height: 350px;
width: 350px;
z-index: 999;
  }

#demo-card-wide-profile{
  /* background-color: hotpink; */
  display: none;
}
/* #btn_close-roomsettings{
  background-color: black;
} */

#demo-card-wide-roomsetting{
  display: none; 
  /* background-color: hotpink;  */
} 
/* .demo-card-wide{
  /* display: none; 
  background-color: red;

} */


/* On mouse-over, add a deeper shadow */
.demo-card-wide:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  







body{
    color:  rgb(88, 37, 7);
}

.material-icons.orange600 { 
    color: #FB8C00; 
}


/* select */
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/mdc-select";

.demo-width-class {
  width: 400px;
}



/* The container */
.rbtncontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 22px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.rbtncontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rbtncontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rbtncontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.rbtncheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rbtncontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rbtncontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#rbtnline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


/* start of select */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  z-index: 9990;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: rgb(195, 221, 247);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* end of select */
.mdl-list__item{
  overflow: visible;
}



#demo-card-wide-studyhistory{
  display: none;
}

#line_flex_container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#btn_enterroom{
  position: absolute;
  bottom: 20%;
  right: 30%;
  z-index: 99999;
}